.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}
