.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 20px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}