.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 20px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    columns: white;
}

.body_main {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
}

.body_main input{
    padding: 50px;
}

.body_main button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #ddd;
    color: black;
}


btn:focus{
    background-color: red;
}
button:active{
    background-color: #ccc;
    border: 3px solid black;
    color: brown;
}

.test  {
    font-size: 20px;
}

.test:focus {
    border: 2px solid red;
}

